header{width: 1920px;
height: 80px;
background-color: #f6e5e5;
font-size: 24px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;}


#text{width: 557px;
height: 43px;
border-radius: 70px;
background-color: #F6CECE;}
#box{padding: 0px 0px 0px 153px;}

.item{padding: 0px 58px 0px 0px;
}

main{min-width: 1920px;
    min-height: calc(100vh - 160px);
   background-color: #F6CECE;
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
}

#container_2{width: 376px;
height: 500px;
border:5px solid #03FDA3;
border-radius: 16px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;}

.text_2{width: 350px;
height: 40px;
background-color: #F6CECE;
font-size: 20px;
font-weight: bold;
border: 2px solid #03FDA3;
border-radius: 16px;}

button{width: 280px;
height: 40px;
border-radius: 16px;
font-size: 20px;
}

#button{background-image: linear-gradient(to bottom , #03FDA3, #BBF4E0);}
#button_2{background-image:linear-gradient(to bottom, #D4F507, #FFFFFF);}
#button_3{background-image:linear-gradient(to bottom, #02FA47, #FFFFFF);}


footer{width: 1920px;
    height: 80px;
    background-color: #f6e5e5;}